<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Mandekonference" %></title>
    <meta name="description" content="Mandekonference d. 30. august 2014 Flyevestation Aalborg" />
    <meta name="keywords" content="Mandekonference søndagsskoler agape KPI Indre mission kirkelig" />
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
  <div class="container">
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <main role="main" class="col-md-8">
       <%= render 'layouts/messages' %>
       <%= yield %>

    </main>
    <div class="col-md-4" id="rss-feeds"><a href="http://www.facebook.com/mandekonference"> <h4 class="bg-primary" style="padding:15px;">Fra facebook</h4></a><hr></div>
     <script>
      jQuery(function($) {
        $("#rss-feeds").rss("https://www.facebook.com/feeds/page.php?id=361372487260005&format=rss20",
  {
    // how many entries do you want?
    // default: 4
    // valid values: any integer
    limit: 5,

    // will request the API via https
    // default: false
    // valid values: false, true
    ssl: true,

    // outer template for the html transformation
    // default: "<ul>{entries}</ul>"
    // valid values: any string
    layoutTemplate: "<div class='feed-container'>{entries}</div>",

    // inner template for each entry
    // default: '<li><a href="{url}">[{author}@{date}] {title}</a><br/>{shortBodyPlain}</li>'
    // valid values: any string
    entryTemplate: '<div class="well"><a href="{url}"> <h4 >{title}</h4> {teaserImage}</a></div>',


    // output mode of google feed loader request
    // default: 'json'
    // valid values: 'json', 'json_xml'
    outputMode: 'json_xml',

    // the effect, which is used to let the entries appear
    // default: 'show'
    // valid values: 'show', 'slide', 'slideFast', 'slideSynced', 'slideFastSynced'
    effect: 'slideFastSynced'
  },

  // callback function
  // called after feeds are successfully loaded and after animations are done
  function callback() {})
      })
    </script>
</div>
<footer class="footer" role="contentinfo">
<div class="container">
  <small>
    <a href="http://khebbie.dk/" class="brand">Lavet af khebbie</a>
  </small>
  </div>
</footer>
<script type="text/javascript" async="" src="http://www.google-analytics.com/ga.js"></script>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-29877669-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
  </body>
</html>
