<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Mandekonference" %></title>
    <meta name="description" content="Mandekonference d. 30. august 2014 Flyevestation Aalborg" />
    <meta name="keywords" content="Mandekonference søndagsskoler agape KPI Indre mission kirkelig" />
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
  <div class="container">
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <main role="main" class="col-md-8">
       <%= render 'layouts/messages' %>
       <%= yield %>

    </main>
    <div class="col-md-4"><script type="text/javascript" src="//p3k.org/rss/index.js?url=https%3A%2F%2Fwww.facebook.com%2Ffeeds%2Fpage.php%3Fid%3D361372487260005%26format%3Drss20&amp;maxItems=7&amp;width=200&amp;height=-1&amp;radius=5&amp;frameColor=%23b3a28e&amp;titleBarColor=%2300305F&amp;titleBarTextColor=%23F2F2F2&amp;boxFillColor=%23FFFFFF&amp;textColor=%2395412b&amp;linkColor=%232c7395&amp;fontFace=10pt%20sans-serif&amp;showXmlButton=true"></script></div>
</div>
<footer class="footer" role="contentinfo">
<div class="container">
  <small>
    <a href="http://khebbie.dk/" class="brand">Lavet af khebbie</a>
  </small>
  <nav>
    <ul>
<li>Lavet i samarbejde med: </li>
      <li><%= link_to "DFS | ", 'http://www.soendagsskoler.dk/' %></li>
      <li><%= link_to "IM | ", 'http://www.indremission.dk/' %></li>
      <li><%= link_to "IM's familiearbejde | ", 'http://www.familiearbejde.dk/' %></li>
      <li><%= link_to "IMU | ", 'http://www.imu.dk/' %></li>
      <li><%= link_to "KPI | ",   'http://www.kpi.dk' %></li>
      <li><%= link_to "LM | ", "http://www.dlm.dk/" %></li>
      <li><%= link_to "LM Kids | ", "http://www.dlm.dk/LM-Kids/" %></li>
      <li><%= link_to "ELM | " , "http://www.elm.dk" %></li>
      <li><%= link_to "Agape", "http://www.foreningenagape.dk/" %> </li>
    </ul>
  </nav>
  </div>
</footer>
  </body>
</html>
